

/* TextboxList sample CSS */
#FB ul.holder { margin: 0; border: 1px solid; overflow: hidden; height: auto !important; height: 1%; padding: 4px 5px 0; 
 border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
    display: inline-block;
  height: 20px;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  border-color: #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  vertical-align: middle;
  }
#FB *:first-child+html ul.holder { padding-bottom: 2px; } * html ul.holder { padding-bottom: 2px; } /* ie7 and below */
#FB ul.holder li { float: left; list-style-type: none; margin: 0 5px 4px 0; white-space:nowrap;}
#FB select:focus, 
#FB input[type="text"]:focus,  #FB .uneditable-input:focus, #FB .uneditable-input, #FB input, #FB textarea {border:none !important; box-shadow:none !important;}
#FB ul.holder li.bit-box, ul.holder li.bit-input input { font: 11px "Lucida Grande", "Verdana"; }
#FB ul.holder li.bit-box { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8; padding: 1px 5px 2px; }
#FB ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
#FB ul.holder li.bit-input input { width: auto; overflow:visible; margin: 0; border: 0px; outline: 0; padding: 3px 0px 2px; } /* no left/right padding here please */
#FB ul.holder li.bit-input input.smallinput { width: 20px; }

/* Facebook demo CSS */
#FB ul.holder { margin: 0 !important }
#FB ul.holder li.bit-box, #apple-list ul.holder li.bit-box { padding-right: 15px; position: relative; z-index:99;}
#FB #apple-list ul.holder li.bit-input { margin: 0; }
#FB #apple-list ul.holder li.bit-input input.smallinput { width: 5px; }
#FB ul.holder li.bit-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
#FB ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
#FB ul.holder li.bit-box a.closebutton { position: absolute; right: 4px; top: 5px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('../img/close.gif'); }
#FB ul.holder li.bit-box a.closebutton:hover { background-position: 7px; }
#FB ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover { background-position: bottom; }

/* Autocompleter */

#FB .facebook-auto { display: none; position: absolute; background: #eee; z-index:1001;}
#FB .facebook-auto .select_all_items {display: block; float: right;}
#FB .facebook-auto .default { padding: 5px 7px; border: 1px solid #ccc; border-width: 0 1px 1px;font-family:"Lucida Grande","Verdana"; font-size:11px; }
#FB .facebook-auto ul { display: none; margin: 0; padding: 0; overflow: auto; position:absolute; z-index:9999}
#FB .facebook-auto ul li { padding: 5px 12px; z-index: 1000; cursor: pointer; margin: 0; list-style-type: none; border: 1px solid #ccc; border-width: 0 1px 1px; font: 11px "Lucida Grande", "Verdana"; background-color: #eee }
#FB .facebook-auto ul li em { font-weight: bold; font-style: normal; background: #ccc; }
#FB .facebook-auto ul li.auto-focus { background: #4173CC; color: #fff; }
#FB .facebook-auto ul li.auto-focus em { background: none; }
#FB .deleted { background-color:#4173CC !important; color:#ffffff !important;}
#FB .hidden { display:none;}

#FB #demo ul.holder li.bit-input input { padding: 2px 0 1px; border: 1px solid #999; }
#FB .ie6fix {height:1px;width:1px; position:absolute;top:0px;left:0px;z-index:1;}
